POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mqnode
POSTGRES_USER=mqnode
POSTGRES_PASSWORD=mqnode

REDIS_HOST=redis
REDIS_PORT=6379

BTC_RPC_HOST=bitcoin
BTC_RPC_PORT=8332
BTC_RPC_USER=bitcoin
BTC_RPC_PASSWORD=bitcoin
BTC_RPC_TIMEOUT=30
BTC_LISTENER_SLEEP_SECONDS=10

LOG_LEVEL=INFO
