POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mamakquant
POSTGRES_USER=localhost
POSTGRES_PASSWORD=Cnwk3552.

REDIS_HOST=redis
REDIS_PORT=6379

BTC_RPC_HOST=127.0.0.1
BTC_RPC_PORT=8332
BTC_RPC_USER=mamakquant-bitcoin
BTC_RPC_PASSWORD=v6psHh85QVPr7PSmzrJWaxF8IXWyvaxCcycaPOvWLX8
BTC_RPC_TIMEOUT=30
BTC_LISTENER_SLEEP_SECONDS=10
BTC_LISTENER_ERROR_SLEEP_SECONDS=10
BTC_PRICE_TABLE=mq_btc_price_10m

WORKER_RETRY_SLEEP_SECONDS=10
WORKER_HEARTBEAT_SECONDS=60
WORKER_STALE_AFTER_SECONDS=180
WORKER_STARTUP_REPLAY=true

LOG_LEVEL=INFO
